.game-board {
    background: var(--felt-green-color);
    box-sizing: border-box;
    width: 100%;
    height: 50rem;
    padding: 1.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    box-shadow: inset 0 0 0.5rem var(--dark-background-color);
    z-index: 0;

    user-select: none;
    cursor: normal;
}

.table-text {
    font-size: 400%;
    top: 50%;
    color: transparent;
    text-shadow: 2px 2px 3px #184a2e;
}

.game-players-container {
    width: auto;
    display: inline-flex;
    align-items: flex-end;
    gap: 3rem;
}

.table-name {
    background-color: var(--wooden-brown-color);
    display: inline;
    padding: 1rem;
}

.game-board, .table-name {
    border: 1rem solid var(--wooden-brown-color);
    border-radius: 20rem;
}

.player-photo {
    width: 80px;
    border-radius: 100%;
}

.large-player-card-container {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    
    width: 12rem;
    background-color: lightblue;
}

.large-player-card-container p {
    margin: 0 0 0.2rem 0;
}

.player-hand-total {
    padding: 0.1rem 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);;
    border: 0.5px solid gray;
    border-radius: 0.2rem;
}

.card-wrapper svg {
    width: 3rem;
    height: 5rem;
    z-index: 2;
}

.negative-margins {
    margin-right: -1rem;
    margin-left: -1rem;
    /* transition: margin 0.3s ease-in-out; */
}

.no-margins {
    margin: 0;
    /* transition: margin 0.3s ease-in-out; */
}

.no-gap {
    gap: 0;
}

.small-gap {
    gap: 0.2rem;
}

.small-bottom-margin {
    margin-bottom: 5rem;
}

.player-cards-container {
    height: 5rem;
    
    display: flex;
    justify-content: center;
    background-color: red;
}