.game-board {
    background: var(--felt-green-color);
    box-sizing: border-box;
    width: 100%;
    height: 50rem;

    display: grid;
}

.table-name {
    background-color: var(--wooden-brown-color);
    display: inline;
    padding: 1rem;
}

.game-board, .table-name {
    border: 0.5rem solid var(--wooden-brown-color);
    border-radius: 0.5rem;
}

.player-photo {
    width: 80px;
    border-radius: 100%;
}

.large-player-card-container {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: lightblue;
}

.large-player-card-container p {
    margin: 0 0 0.2rem 0;
}

.player-hand-total {
    padding: 0.1rem 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);;
    border: 0.5px solid gray;
    border-radius: 0.2rem;
}

/* .card-wrapper {
    position: absolute;
} */

.card-wrapper svg {
    width: 3rem;
    height: auto;
}

.negative-margins {
    margin-right: -1rem;
    margin-left: -1rem;
}

.no-margins {
    margin: 0;
}

.no-gap {
    gap: 0;
}

.small-gap {
    gap: 0.2rem;
}

.player-cards-container {
    width: 10rem;
    height: 5rem;
    background-color: red;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}