/* Game-Board */

.game-board {
    /* Change this when screen is too small */
    min-height: 20rem;
    
    width: 100%;
    height: 95%;
    left: 0;
    right: 0;

    
    background: var(--felt-green-color);
    box-sizing: border-box;
    border: 0.5rem solid var(--wooden-brown-color);
    border-radius: 2rem;
    box-shadow: inset 0 0 0.5rem var(--dark-background-color);
    padding: 1rem;
    overflow: hidden;

    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: space-between;
}

.table-container {
    text-align: center;
}

.table-name {
    display: inline-block;
    border: 2px solid var(--wooden-brown-color);
    border-radius: 10px 10px 0 0;
    padding: 0.1rem;
    background-color: var(--wooden-brown-color);

    margin-bottom: -0.5px;
}

.players-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Game Buttons */

.game-button-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
}

.game-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
    width: 24%;
    border-radius: 0.5rem;
    color: white;
}

.game-btn:hover {
    filter: brightness(85%);
}

/* Player-Card */

.player-card-container {
    display: flex;
    flex-direction: row-reverse;

    gap: 0.3rem;
    text-align: center;
    height: 10rem;
}

.player-card-container p {
    margin: 0;
    padding: 0;
}

.player-photo {
    width: 100%;
    border-radius: 100%;
    height: auto;
}

/* Player-Info */

.player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 5rem;
}

/* Player-Hand */

.player-hand-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.player-hand-total {
    padding: 0.1rem 0;
    width: 10rem;
    background: rgba(0, 0, 0, 0.7);;
    border: 0.5px solid gray;
    border-radius: 0.2rem;
    margin: 0 auto;
}

.cards-container {
    flex: 1; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    max-width: 100%;
    min-height: 7.5rem; 
    max-height: 100%;

    box-sizing: border-box;
    border: 0.3rem solid rgba(211, 211, 211, 0.2);
    border-radius: 0.5rem;
}

/* Card */

.card {
    flex: 0 0 auto; 
    width: auto;
    height: 90%; 
    max-height: 100%;
}

.card svg {
    width: 100%;
    height: 100%;
}

/* Helper */

.blue-border { border: 0.2rem dotted blue; }
.red-border { background-color: lightblue; }
.card-padding { padding: 0 1.7rem; }
.no-padding { padding: 0; }

/* Dealer */

.no-margin { margin: 0; }
.negative-margin { margin: 0 -1.7rem; }

/* Color Styling */

.hit-color { background-color: #387057; }
.stand-color { background-color: #713838; }
.split-color { background-color: #385471; }
.double-color { background-color: #d2832d; }

/* Desktop Styling */

@media only screen and (min-width: 768px) {
    .red-border {
        background-color: blueviolet;
    }    
}